name: AWS Docker Deployment 

on:
  push: 
    branches:
      - main

jobs:
  
  aws-docker-deployment:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: .
    steps:
    - name: what is github ref
      run: echo ${{ github.ref }}

    - name: Checkout
      uses: actions/checkout@v2
      with:
        ref: ${{ github.ref }}

    - name: Build container
      run: |
        docker build --tag aws-docker-test:latest .

    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: eu-central-1

    - name: Push2ECR
      id: ecr
      uses: jwalton/gh-ecr-push@v1
      with:
        access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        region: eu-central-1
        image: aws-docker-test:latest

    # - name: Update lambda with image
    #   run: aws lambda update-function-code --function-name  --image-uri 863244415814.dkr.ecr.us-east-1.amazonaws.com/iris_classification:latest